<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>488A1F461E9D21A80087CE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488A1F5D1E9D21A90087CE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488A1F681E9D21A90087CE16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
